<div class="container-fluid">
    <div class="row bg-content">
        <div class="col-xl-7 col-lg-9 col-md-9 col-sm-12 col-12 mt-5 pt-5">
            <h2 class="fontsize">  Welcome to Our page</h2>
            <h3 class="fs-3 text-info">  Explore. Discover. Engage.</h3>
            <h4 class="text-white">
                We're excited to have you here! Dive into our world and discover the best of what we offer. Stay tuned
                for exciting updates and enjoy your journey with us!
            </h4>
        </div>
        <div class="col-12 ">
          <div class="row">
            <div class="col-4">
                <div class="card border-success mb-3" style="max-width: 30rem;">
                    <div class="card-header bg-transparent border-success">Header</div>
                    <div class="card-body text-success">
                      <h5 class="card-title">Success card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Footer</div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card border-success mb-3" style="max-width: 30rem;">
                    <div class="card-header bg-transparent border-success">Header</div>
                    <div class="card-body text-success">
                      <h5 class="card-title">Success card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Footer</div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card border-success mb-3" style="max-width: 30rem;">
                    <div class="card-header bg-transparent border-success">Header</div>
                    <div class="card-body text-success">
                      <h5 class="card-title">Success card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Footer</div>
                  </div>
            </div>
          </div>
        </div>
       
    </div>
    
</div>
