.bg-content{
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.329), rgba(255, 255, 255, 0.209)), url(/assets/nav3.jpg);
    background-size: cover;
    background-position:center center;
    height: 94vh;
}
.fontsize{
     font-size: 6rem;
}
